body {
  align-items: center;

  text-align: center;
}

#hero img {
  margin-bottom: 72px;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 56px;

  margin-bottom: 32px;
}

h1 span,
p span,
a {
  color: #ff9900;
}

p {
  font-family: 'Inter', sans-serif;
  color: #7D7987;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

footer a+a {
  margin-left: 28px;
}

#line {
  width: 592px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #FF9900;
}

#balls-decoration{
  position: fixed;
  bottom: 0px;
  right: 0px;
}